<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Treasure Seekers: Lesson Aims</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      
      <div class="page-header">
        <img src="/static/images/TreasureSeekers_logo1.jpg" />
        <h1>Lesson Aims</h1>
      </div>
  
      <div class="this-week">
        <div class="row">
          <div class="col-md-12">
            <h2>This Week's Aims</h2>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class="flashes alert alert-success">
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Group Name</th>
                  <th>
                    What they will learn
                  </th>
                  <th>
                   Bible Passage
                  </th>
                </tr>
              </thead>
              <tbody>
              {% for aim in aims %}
                <tr>
                  <td class="text-nowrap" scope="row">{{ aim.group }}</td>
                  <td>{{ aim.what_they_learnt }}</td>
                  <td>{{ aim.bible_passage }}</td>
                </tr>
              {% else %}
                <li class="flashes alert alert-warning"><em>Unbelievable.  No entries here so far</em>
              {% endfor %}                
              </tbody>              
            </table>
          </div> 

        </div>

      </div>

    </div>
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>